@media screen and (min-width: 300px) {
    .img{
    max-width:600px;
    height: auto;
    width:50%;
    margin-right: 100px;
    size: 200px;
    min-width:280px;
    align-items: center;
}

.imgNav{
    min-width:10px;
    max-width: 40px;
    size: relative;
}
.container{
    align-items: center;
    justify-content: center;
    width:10px;
    min-width: 10px;
}
.card{
    align-items: center;
    box-shadow: 0 0 10px 5px gray ;
    border-radius: 3px;
    min-width: 28rem;
    display: flex;
    justify-content: center;
    margin: 20px;
   
  
}
.card__body{
    margin: 1rem;
}
.card__title{
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}
.card__description{
    line-height: 1.2rem;
}
.card__btn{
    border: none;
    border-top: 1px solid lightgray;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
padding-top: 1rem;
margin-top: 1rem;
cursor:pointer;
}
}
